.prose h2:first-child {
  margin-top: 0;
}

.prose a {
  overflow-wrap: break-word;
}

.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}

html.dark .min-light {
  display: none;
}

html:not(.dark) .min-dark {
  display: none;
}
